
 @font-face {
  font-family:'android' ;
  src: url('/fontes/idroid.otf') format(opentype);
 }
 
 
 body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da página */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-image:linear-gradient(#3ddc84,#68F5D7);
  color: #333;
  padding: 0;
  margin: 0;
}

/* Cabeçalho */
header {
  background: #49dd8c; 
  color: white;
  text-align: center;
  padding: 20px 15px;
}

header h1 {
  font-family:'android';
  font-size: 2rem;
  margin-bottom: 10px;
}

header h2 {
  
  font-size: 1rem;
  font-weight: 300;
}

/* Navegação */
nav {
  margin-top: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  text-decoration: underline;
  color: #ff0000;
  background: white;
  padding: 5px 8px;
  border-radius: 5px;
}

/* Conteúdo principal */
main {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

article {
  margin-bottom: 20px;
}

article h2, article h3 {
  
  background-image:linear-gradient(250deg,white, #3ddc84 );
  color: #23332A;
  margin-bottom: 10px;
}

article p {
  text-align: justify;
  margin-bottom: 15px;
}

/* Imagens */
img {
  display: block;
  max-width: 100%;
  margin: 20px auto;
  border-radius: 8px;
}


iframe {
  display: block;
  max-width: 100%;
  margin: 20px auto;
  border: none;
  border-radius: 15px;
}
footer{
  text-align: center;
  padding: 3px;
  margin: 2px;
  font-family: 'android';
  background-color: #49dd8c;
}